body{
  width: 1500px;
  height: 3200px;
}
header{
  width: 100%;
  height: 8%;
}
main, footer{
  width: 100%;
  height: 41%;
}
#closebtn{
  display: block;
  width: 15%;
  height: 100%;
  margin: auto 3% auto auto;
  background-color: white;
  border: none;
}
#close{
  display: block;
  width: 100%;
  height: 100%;
}
table{
  border-collapse: collapse;
  width:95%;
  margin: 5em auto;
}

#account1{
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}
#account2{
  width: 100%;
  border-left: none;
  border-right: none;
}
#addition{
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
#request1{
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none; 
}
#request2{
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.left,.right{
  width: 25%;
}
.center{
  width: 30%;
}

.icon{
  display: block;
  width: 90%;
  margin: auto;
}

#ic1{
  display: block;
  width: 90%;
  margin: auto;
  background-color: white;
  border: none;
}
#ic2{
  display: block;
  width: 90%;
  margin: auto;
  background-color: white;
  border: none;
}

#check1{
  display: block;
  width: 60%;
  margin: auto;
}

#check2{
  display: none;
  width: 60%;
  margin: auto;
}

#add{
  display: block;
  width: 90%;
  margin: auto;
}

h1{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Yomogi', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 3em;
  margin: auto;
}
h2{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Yomogi', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 3em;
  margin: 8%;
}
.right1,.right2{
  width: 20%;
}

.btn{
  background-color: #f6ede8;
  border-color: #f6ede8;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Yomogi', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  border-radius: 0.3em;
  font-size: 3em;
  width: 90%;
  height: 6vh;
}
.btn2{
  background-color: #bf6159;
  border-color: #bf6159;
  color: #fff8f3;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Yomogi', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  border-radius: 0.3em;
  font-size: 3em;
  width: 20%;
  height: 6vh;
  display: block;
  margin: 5% 5% 5% auto;
}
