<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/memoadd.css">
    <!--Googleフォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Yomogi&family=Zen+Kurenaido&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
    </header>

    <main>
      <div id="name">
        <h1>メモ名</h1>
        <input type="text" name="username" id="memoname">
      </div>
      <div id="select">
        <button type="cancel" id="btn1" onclick="location.href='memolist.html'">キャンセル</button>
        <button type="registration" id="btn2" onclick="location.href='memolist.html'">登録</button>
      </div>
    </main>

    <footer>
    </footer>
  </body>

</html>