<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/topsearch.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style>
      .ui-widget{
        font-size: 3em;
      }
    </style>
    <title>メモ</title>
    <!--Googleフォント-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Yomogi&family=Zen+Kurenaido&display=swap" rel="stylesheet">
  </head>

   <body>
    <header>
      <h1 id="memoname">
        メモ名
      </h1>  
      <table border="1">
        <tr>
          <td id="left">
            <img src ="img/icon.png" id="icon">
          </td>
          <td id="center">
            <h1 id="date">
              2023.01.01.Mon
            </h1>  
          </td>
          <td id="right1">
            <img src ="img/layout.png" id="layout">
          </td>
          <td id="right2">
            <img src ="img/edit.png" id="edit" alt="button">
          </td>
        </tr>
      </table>  
    </header>

    <main>
        <form>
          <form>
            <input type="text" name="name" class="heading" id=title1 placeholder="タイトル" readonly>
            <br>
            <textarea class="textbox" readonly id="box1"></textarea>
            <br>
            <input type="text" name="name" class="heading" id=title2 placeholder="タイトル" readonly>
            <br>
            <textarea class="textbox" readonly id="box2"></textarea>
            <br>
            <input type="text" name="name" class="heading" id=title3 placeholder="タイトル" readonly>
            <br>
            <textarea class="textbox" readonly id="box3"></textarea>
           </form>
    </main>

    <footer>
      <table border="1" id="search-line">
        <tr>
          <form method="post" action="searchresult.html">
            <td class="search">
              <input type="image" class="btn" src="img/search.png">
            </td>
            <td class="bar">
              <input type="search" id="word" name="search" placeholder="キーワードを入力">
              <input type="text" id="datepicker">
            </td>
          </form>
          <td class="calender">
            <img id="img" src ="img/calender.png" alt="button" onclick="buttonClick()" class="btn">
          </td>
          <td class="close">
            <input type="image" src="img/close.png" id="closebtn" value="閉じる" onClick="location.href='top.html'">
          </td>
      </tr>
      </table>
    </footer>  
    <script src="js/topsearch.js" ></script>
  </body>
  
</html>